{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}

{% block body_class %}users{% endblock %}

{% block title %}
    {% blocktrans with user_name=profile.user.get_full_name %}Update User {{ user_name }} Profile{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>

        </li>
        <li class="active">{% blocktrans %}Update profile{% endblocktrans %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with user_name=profile.user.get_full_name %}{{ user_name }} profile{% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <form action="." method="post" class="form-inline">
            {% csrf_token %}
            {% include 'partials/form_fields_dashboard.html' %}
            <button type='submit' class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn">{% trans "cancel" %}</a>
        </form>
    </div>
{% endblock dashboard_content %}
