*.pyc
*.log
*.pdf
dev.db
.idea/
local_settings.py
settings.py
shipito_rates.py
fabfile.py
scripts/*
packageshop/media/*
packageshop/media/cache/*
packageshop/media/batch/*
packageshop/media/commercial-invoices/*
packageshop/media/images/*
packageshop/media/receivers/*
packageshop/media/return-labels/*
CACHE/*
local/*
bin/*
include/*
lib/*
scrapy/*
scripts/*
jzebra/*
packageshop/templates/admin
packageshop/media/image_not_found.jpg
