#owner_name {
    margin-left: 10px;
    font-size:14px;
    font-weight: 400;
}

.owner_name {
    font-size: 14px;
    margin-top: 10px;
    color: red;
}

.owner_name span{
    margin-left: 10px;
    font-weight: 600;
}

.color {
    color: red;
    font-weight: 600;
}

/*
#predefined-parcel-alert {
    padding: 9px;
    background-color: #fff49f;
    border-color: #ede181;
    color: #333;
}
*/
#envelope-alert {
    padding: 9px;
    background-color: #fff49f;
    margin-bottom: 20px;
    border-color: #ede181;
    color: #333;
}
#product_attributes td ul {
    list-style: none outside none;
    margin: 0 0 10px;
}


.content-block .order-graph-details label span {
    width: 22% !important;
}

.content-block .order-graph-details label i {
    margin-right: 10px !important;
}

span.error {
    color: #b94a48;
    display: block;
}

.table-header .table {
    background-color: transparent !important;
}

.content-block .order-graph-details label {
    color: #474747;
    font-size: 13px;
}

.pull-center {
    position: relative;
    left: 50%;
}

.btn-xlarge {
    padding: 12px 26px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}