{% extends 'layout.html' %}
{% load url from future %}
{% load i18n %}


{% block title %}
    {% trans 'Password reset confirm' %}
{% endblock %}


{% block content %}
    <section class="main-wrapper grey-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="email-confirm">
                        {% if validlink %}
                            <h3>{% trans 'Enter New Password' %}</h3>
                            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                            <form id="password_reset_form" action="." method="post">
                                {% csrf_token %}
                                {% include 'partials/form_fields.html' %}
                                <button type="submit" class="btn btn-primary" style="margin-top: 15px;">{% trans 'Change my password' %}</button>
                            </form>
                        {% else %}
                            <h3>{% trans 'Password reset unsuccessful' %}</h3>
                            <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
