{% extends 'layout.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}
    {% trans 'Password reset complete' %}
{% endblock %}

{% block content %}
    <section class="main-wrapper grey-wrapper">
        <div class="container">
            <div class="email-confirm">
                <h3>{% trans 'Password Reset Completed Successfully' %}</h3>
                <p>{% trans "Your password has been set. You may go ahead and sign in now." %}</p>
            </div>
        </div>
    </section>
{% endblock %}
