{% extends 'layout.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
	{% trans 'Reset Your USendHome Control Panel Password' %}
{% endblock %}

{% block description %}
	{% trans "Reset Your USendHome Control Panel Password. " %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body_class %}body-dark-blue{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo-container">
            <a class="usend-logo" href="{% url 'promotions:home' %}">
                <img src="{% static "usendhome/images/logo.png" %}" alt="USendHome">
            </a>
            <h1>
                {% blocktrans %}
                   Reset Your USendHome Control Panel Password
                {% endblocktrans %}
            </h1>
        </div>
        <div class="dashboard-login-form reset-pass">
            <div class="pass-header">
                <h3 class="bold-text">{% trans "Reset Password" %}</h3>
            </div>
            <div class="login-form">
                <p>{% trans "Enter your e-mail address below and we'll email instructions for setting a new password." %}</p>
                <form action="." method="post">
                    {% if form.is_bound and not form.is_valid %}
                        <div class="alert alert-danger">
                            <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
                        </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <i class="fa fa-exclamation-circle"></i> {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% csrf_token %}
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i>
                            </div>
                            <input type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" class="form-control" id="id_email" placeholder="Email Address">
                            {% for error in form.email.errors %}
                                <span class="error-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-login">{% trans 'RESET' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
