{% extends "customer/emails/base_css.html" %}
{% load i18n %}

{% block title %}
    {% trans "USendHome Warehouse Operation Hours" %}
{% endblock %}

{% block header %}
    {% trans "Warehouse Operation Hours" %}
{% endblock %}

{% block body %}
    <p>
        {% blocktrans with name=customer.get_full_name|title %}
            Hello {{ name }},<br/>
            We wanted to let you know that our warehouse will be closed today September 28, 2015 in
            observance of an holiday.
        {% endblocktrans %}
    </p>
{% endblock %}