{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block headersubtext %}
    <h5>{% trans "Change Password" %}</h5>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block tabcontent %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <form class="sky-form" id="change_password_form" action="." method="post">
                {% csrf_token %}
                {% include 'partials/form.html' %}
            </form>
        </div>
    </div>
{% endblock tabcontent %}
