{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="navbar-inner">

        <a class="btn navbar-btn" data-toggle="collapse" data-target=".primary-collapse">
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
        </a>

        <a class="btn navbar-btn btn-cart visible-sm" href="{% url checkout:index %}">
            <i class="icon-shopping-cart"></i>
			<strong>{% trans "Basket" %}
            {% if request.basket.all_lines.count %}
			{% trans "Total:" %} {{ basket.total_incl_tax|currency }}
            {% endif %}
            </strong>
        </a>

        <div class="navbar-collapse primary-collapse">
            <div id="browse" class="dropdown pull-left {% if expand_dropdown %}open{% endif %}">
                <button class="btn btn-primary dropdown-toggle hidden-sm">
                    {% trans "Browse Store" %}
                    <span class="caret"></span>
                </button>
            </div>
            {% include "partials/search.html" %}
        </div><!-- /.navbar-collapse -->

    </div><!-- /navbar-inner -->
</div><!-- /navbar -->
