{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "PayPal IPN payment messages" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'bitcoin-ipn-payment-list' %}">{% trans "Bitcoin Payment IPN messages" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Messages" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Bitcoin IPN payment messages" %}
{% endblock %}

{% block dashboard_content %}

    {% if payment_messages %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Transaction ID" %}</th>
                    <th>{% trans "Payment status" %}</th>
                    <th>{% trans "Date received" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for payment_message in payment_messages %}
                    <tr>
                        <td>
                            {% if payment_message.source == 'BitcoinPay' %}
                                <a href="{% url 'bitcoinpay-ipn-payment-detail' payment_message.id %}">{{ payment_message.transaction_id }}</a>
                            {% else %}
                                <a href="{% url 'bitcoin-ipn-payment-detail' payment_message.id %}">{{ payment_message.transaction_id }}</a>
                            {% endif %}
                        </td>
                        <td>{{ payment_message.payment_status }}</td>
                        <td>{{ payment_message.date_created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans "No payment IPN messages have been received yet." %}</p>
    {% endif %}

{% endblock dashboard_content %}