{% extends "checkout/shipping_address.html" %}
{% load i18n %}
{% load url from future %}


{% block step_description %}
	<h2>{% trans "2. Merchant Address" %}</h2>
{% endblock %}

{% block checkout_nav %}
{% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block new_address %}
    <div class="row add-new-address">
        <div class="col-md-12">
            <form action="{{ form_action }}" id="merchant_address_form" method="post">
                {% csrf_token %}
                {% include "partials/merchant_address_form.html" %}
                <button type="submit" class="btn btn-info btn-checkout" style="margin-top: 20px;">{% trans "Continue to next step  »" %}</button>
            </form>
        </div>
    </div>
    {% if not is_lithium_battery_exists %}
        {% include "checkout/partials/battery_popup.html" %}
    {% endif %}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    usendhome.battery_status("#merchant_address_form");
{% endblock %}


