{% extends "customer/emails/base_css.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "USendHome Additional Receiver Verification Status" %}
{% endblock %}

{% block header %}
    {% trans "Additional Receiver Verification Status" %}
{% endblock %}

{% block body %}
    <p>
        {% blocktrans %}
            Hello {{ user_name }},
        {% endblocktrans %}
    </p>

    {% if is_verified %}
        <p>
            {% blocktrans %}
                Congratulations! {{ additional_receiver_name }} has been successfully verified.
                You can now order extra services, consolidate and release for delivery all packages
                under {{ additional_receiver_name }} name.
            {% endblocktrans %}
        </p>
    {% else %}
        {% if more_documents %}
            <p>
                {% url 'customer:additional-receiver-verify' additional_receiver.pk as additional_receiver_verify_url %}
                {% blocktrans %}
                    We are unable to verify {{ additional_receiver_name }} based on the documents you provided us with.
                    Use the URL link below to provide additional documents, make sure all documents contain a
                    clear and visible photo.
                    <a href="{{ site }}{{ additional_receiver_verify_url }}">{{ site }}{{ additional_receiver_verify_url }}</a>
                {% endblocktrans %}
            </p>
        {% else %}
            <p>
                {% blocktrans %}
                    We're sorry but we couldn't verify {{ additional_receiver_name }} identity based on the documents you
                    provided us with.
                    Please don't deliver additional orders under this additional receiver's name, we can't receive such
                    orders and we will send them back to the sender immediately.
                {% endblocktrans %}
            </p>
            <p>
                {% url 'contact' as contact_url %}
                {% blocktrans %}
                    You can always <a href="{{ site }}{{ contact_url }}">contact</a> us to supply additional information
                    that will help us verify the additional receiver's identity.
                {% endblocktrans %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
