{% extends "customer/emails/base_css.html" %}
{% load i18n %}
{% load email_tags %}

{% block title %}
    {% trans "USendHome Account Setup" %}
{% endblock %}

{% block header %}
    {% trans "USendHome Account Setup" %}
{% endblock %}

{% block body %}{% autoescape off %}
    <p>
        {% blocktrans with user_name=user.get_full_name|title %}
            Hi {{ user_name }},
        {% endblocktrans %}
    </p>
    <p>
        {% if issuer == "purse" %}
            {% blocktrans %}
                By this time your personal US address is already available in your Purse.io account.
                Now it's the perfect time to set up your USendHome account to start managing the incoming packages.
                We now accept payments in Bitcoin.
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                By this time you probably have received your personal US address.
                Now it's the perfect time to set up your USendHome account to start managing the incoming packages.
            {% endblocktrans %}
        {% endif %}
    </p>
    <p>
        {% render_email_button complete_registration_url "Finish the Signup Process" %}
    </p>
{% endautoescape %}{% endblock %}
