{% extends "customer/emails/base_css.html" %}
{% load i18n %}
{% load email_tags %}

{% block title %}
    {% trans "USendHome Password Changed" %}
{% endblock %}

{% block header %}
    {% trans "Password Changed" %}
{% endblock %}

{% block body %}{% autoescape off %}
<p>
    {% blocktrans %}
		You're receiving this notice because your password has been changed at {{ site_name }}.
    {% endblocktrans %}
</p>
<p>
    {% trans "If you did change your password, you may safely ignore this notice." %}
</p>
<p>
	{% trans "If you did not facilitate this change, please reset your password immediately." %}<br/>
</p>
<p>
    {% render_email_button reset_url "Reset Password" %}
</p>
{% endautoescape %}
{% endblock %}
