{% load i18n %}

<h4>{% trans "Order an extra service for your package" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
		Our Extra Services put you in the driver's seat! We give you the power and flexibility to manage your packages.
		With our Extra Services, you can:
	{% endblocktrans %}
</p>
<ul>
	<li>		
		{% blocktrans %}
			Verify that no item is missing or damaged by ordering the Package Content Photos service to give you a birds-eye view of what's inside your package.
		{% endblocktrans %}
	</li>
	<li>		
		{% blocktrans %}
		   Let us fill out your customs declaration by ordering the Customs Declaration Paperwork service.
		   Don't worry; you'll see the completed paperwork before it's sent.
		{% endblocktrans %}
	</li>
	<li>		
		{% blocktrans %}
			Order a Customized Service and we'll do what you ask! Want to make sure your new smartphone turns on? Ask us and we'll test it for you! 
		{% endblocktrans %}
	</li>
	<li>		
		{% blocktrans %}
			Save yourself shipping costs by ordering our Repacking service.
			We'll pack your items into a smaller box or envelope to cut your shipping rates!
		{% endblocktrans %}
	</li>
</ul>


<h5>{% trans "Walkthrough" %}</h5>
<ul>
	<li>
		{% trans "Log in to your USendHome control panel and click on the Incoming Packages tab" %}
	</li>
	<li>
		{% trans "Click the drop-down menu next to your desired package and select the Extra Services option" %}
	</li>
	<li>
		{% trans "Select your desired services and click on the Order button" %}
	</li>
	<li>
		{% trans "We'll notify you by email once we've completed your Extra Services so you can authorize your package's shipment" %}
	</li>
</ul>



