{% load i18n %}

<h4>{% trans "Order Extra Services in Advance" %}</h4>
<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
		Know what you want ahead of time? Even better, because you'll save additional dough by ordering your Extra Services prior to your packages arrival at our warehouse.
		We'll process your request on every package we receive, and your shipments will be ready in no time! Set up your Extra Services when you register for your USendHome private US mailing address.
	{% endblocktrans %}
</p>
<p>
	{% blocktrans %}
	    This also includes extra services that were ordered before you ask us to merge your selected items into one shipment.
        Instead of ordering the same extra services for every package you have at your private mailbox, just order the extra services
        you prefer before we create your consolidated package and save even more money.
	{% endblocktrans %}
</p>
<h5>{% trans "Walkthrough" %}</h5>
<ul >
	<li>
		{% trans "Log in to your USendHome control panel" %}
	</li>
	<li>
		{% trans "Select your preferred services on the Order Extra Services in Advance section and click on the Save button" %}
	</li>
</ul>
