{% load i18n %}

<h4>{% trans "Getting Your Purchases to Us" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
		Once you register with USendHome, you'll receive your personal US address.
		Use this address to ensure that all your online purchases are delivered to our warehouse for our package forwarding service on to you.
		Make sure you enter your complete USendHome address - especially the suite number - so we can easily identify you as our customer and as the package recipient
		once your online US shopping spree is delivered.
	{% endblocktrans %}
</p>

<h5>{% trans "Walkthrough" %}</h5>
<ul>
	<li>
		{% trans "Log in to your USendHome control panel and head to the My USendHome Private Address tab" %}
	</li>
	<li>
		{% trans "Enter the listed address as your delivery address when shopping on US merchant websites" %}
	</li>
	<li>
		{% trans "We'll notify you by email once your packages have arrived" %}
	</li>
	<li>
		{% trans "Log in to your USendHome control panel and release your packages for shipment" %}
	</li>	
</ul>
