{% load i18n %}

<h4>{% trans "How to get a quote on multiple items ordered from Amazon consolidated into one package?" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
	    We designed a revolutionary app for Google Chrome that does exactly this.
        With this tool, Amazon shoppers can easily see the optimal international shipping solution available to them based
        on the lowest number of individual boxes directly from their shopping cart.
        Rather than just forwarding every single package abroad, this unique app consolidates your items to the ideal number of
        boxes (taking into consideration weight, size, and safety), and then shows you the lowest international shipping rates
        available for your optimised shipment
	{% endblocktrans %}
</p>
<div class="mt-20">
    <div class="ext-video embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/VPN-9xVsv3g?html5=1&rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>