{% load i18n %}

<h4>{% trans "I just opened a new account, can I use my personal address to deliver packages to your warehouse?" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
        It might sound crazy but you can start using your personal US address to ship packages to our distribution facility right away.
        No need for extra complicated steps to make the address functional.
        Watch the following welcome video to get you started quickly.
	{% endblocktrans %}
</p>
<div class="mt-20">
    <div class="ext-video embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/JqQIi_rzJXU?html5=1&rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>