{% load i18n %}
{% load staticfiles %}

<h4>{% trans "How to request the Repacking service for my parcel?" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
		Don't be fooled! Shipping costs aren't just affected by the weight of the goods.
		Package dimensions are also considered when calculating shipping.
		On your request, our trained operations staff will repack your goods into the densest packaging.
		This significantly reduces your shipping costs.
		We also make use of padded envelopes when we can to reduce dimensional weight and to save our customers nearly 40%.
		The Repacking service is not available for consolidated packages.
	{% endblocktrans %}
</p>


<h5>{% trans "Walkthrough" %}</h5>
<p>There are 2 ways to request the repacking service of your parcel:</p>
<ul>
	<li>
	     Order the Repacking service in advance (20% off retail service price): This method allows you to order the service in advance for all incoming packages.
		<ul>
            <li>Log in to your Control Panel.</li>
            <li>
                Scroll down the right part of the page until you see “Order Extra Service in Advance”.
                Within the option, select “Repacking” and click the Save button.
                <img class="tutorial-img" src="{% static "images/tutorials/repacking_advance.png" %}" alt="order repacking service in advance"/>
            </li>
        </ul>
	</li>
	<li>
		Order the Repacking service after we receive your package:
		<ul>
		    <li>Log in to your Control Panel.</li>
		    <li>
		        Click the “Manage Packages” button.
		        <img class="tutorial-img" src="{% static "images/tutorials/manage_packages.png" %}" alt="manage packages"/>
		    </li>
		    <li>
		        This will lead you to your packages we have received. Now click on “Extras” button for your preferred package.
		        <img class="tutorial-img" src="{% static "images/tutorials/extras.png" %}" alt="order extra services"/>
		    </li>
		    <li>
		         This will open a popup window from where you can select Repacking for your parcel and click on the Order button.
		        <img class="tutorial-img" src="{% static "images/tutorials/repacking.png" %}" alt="order repacking service"/>
		    </li>
	        <li>
		        {% trans "We'll notify you by email once we've completed your repacking request so you can authorize your packages shipment." %}
	        </li>
        </ul>
	</li>
</ul>


