{% load i18n %}

<h4>{% trans "Package Tracking - Follow Your Package to Your Door" %}</h4>

<h5>{% trans "Introduction" %}</h5>
<p>
	{% blocktrans %}
		A tracking number is bundled with every order we deliver so you can always keep an eye on your goods.
		We know you're excited to receive them, and we've created an automated package tracking system that emails you new shipping information as it comes in.
		You'll know automatically when to expect your shopping spree!
	{% endblocktrans %}
</p>

<h5>{% trans "Walkthrough" %}</h5>
<ul>
	<li>
		{% trans "Select the Package Tracking option during your registration process" %}
	</li>
	<li>
		{% trans "You can easily turn this service on/off any time through your control panel by clicking on the Package Tracking button on your account information tab" %}
	</li>	
</ul>
